node_modules
.next/
.next/dev/prerender-manifest.json
.next/dev/trace
.next/dev/cache/.rscinfo
.next/dev/cache/chrome-devtools-workspace-uuid
.next/dev/cache/turbopack/23c46498/00000005.sst
.next/dev/cache/turbopack/23c46498/00000006.sst
.next/dev/cache/turbopack/23c46498/00000007.sst
.next/dev/cache/turbopack/23c46498/00000008.sst
.next/dev/cache/turbopack/23c46498/00000010.meta
.next/dev/cache/turbopack/23c46498/00000012.meta
.next/dev/cache/turbopack/23c46498/00000013.meta
.next/dev/cache/turbopack/23c46498/00000018.sst
.next/dev/cache/turbopack/23c46498/00000019.sst
.next/dev/cache/turbopack/23c46498/00000020.sst
.next/dev/cache/turbopack/23c46498/00000021.sst
.next/dev/cache/turbopack/23c46498/00000022.meta
.next/dev/cache/turbopack/23c46498/00000023.meta
.next/dev/cache/turbopack/23c46498/00000025.meta
.next/dev/cache/turbopack/23c46498/00000026.meta
.next/dev/cache/turbopack/23c46498/00000031.sst
.next/dev/cache/turbopack/23c46498/00000032.sst
.next/dev/cache/turbopack/23c46498/00000033.sst
.next/dev/cache/turbopack/23c46498/00000034.sst
.next/dev/cache/turbopack/23c46498/00000035.meta
.next/dev/cache/turbopack/23c46498/00000036.meta
.next/dev/cache/turbopack/23c46498/00000038.meta
.next/dev/cache/turbopack/23c46498/00000042.sst
.next/dev/cache/turbopack/23c46498/00000062.meta
.next/dev/cache/turbopack/23c46498/00000065.sst
.next/dev/cache/turbopack/23c46498/00000067.sst
.next/dev/cache/turbopack/23c46498/00000068.meta
.next/dev/cache/turbopack/23c46498/00000069.meta
.next/dev/cache/turbopack/23c46498/00000094.meta
.next/dev/cache/turbopack/23c46498/00000095.meta
.next/dev/cache/turbopack/23c46498/00000100.meta
.next/dev/cache/turbopack/23c46498/00000103.sst
.next/dev/cache/turbopack/23c46498/00000105.sst
.next/dev/cache/turbopack/23c46498/00000107.meta
.next/dev/cache/turbopack/23c46498/00000113.sst
.next/dev/cache/turbopack/23c46498/00000115.meta
.next/dev/cache/turbopack/23c46498/00000120.sst
.next/dev/cache/turbopack/23c46498/00000127.meta
.next/dev/cache/turbopack/23c46498/00000128.meta
.next/dev/cache/turbopack/23c46498/00000131.sst
.next/dev/cache/turbopack/23c46498/00000132.sst
.next/dev/cache/turbopack/23c46498/00000134.meta
.next/dev/cache/turbopack/23c46498/00000142.sst
.next/dev/cache/turbopack/23c46498/00000146.meta
.next/dev/cache/turbopack/23c46498/00000150.sst
.next/dev/cache/turbopack/23c46498/00000152.meta
.next/dev/cache/turbopack/23c46498/00000158.meta
.next/dev/cache/turbopack/23c46498/00000164.meta
.next/dev/cache/turbopack/23c46498/00000175.meta
.next/dev/cache/turbopack/23c46498/00000176.meta
.next/dev/cache/turbopack/23c46498/00000201.meta
.next/dev/cache/turbopack/23c46498/00000202.meta
.next/dev/cache/turbopack/23c46498/00000229.sst
.next/dev/cache/turbopack/23c46498/00000245.sst
.next/dev/cache/turbopack/23c46498/00000248.meta
.next/dev/cache/turbopack/23c46498/00000250.meta
.next/dev/cache/turbopack/23c46498/00000253.sst
.next/dev/cache/turbopack/23c46498/00000254.sst
.next/dev/cache/turbopack/23c46498/00000255.sst
.next/dev/cache/turbopack/23c46498/00000256.meta
.next/dev/cache/turbopack/23c46498/00000257.meta
.next/dev/cache/turbopack/23c46498/00000259.meta
.next/dev/cache/turbopack/23c46498/00000260.meta
.next/dev/cache/turbopack/23c46498/00000267.sst
.next/dev/cache/turbopack/23c46498/00000270.meta
.next/dev/cache/turbopack/23c46498/00000279.sst
.next/dev/cache/turbopack/23c46498/00000281.sst
.next/dev/cache/turbopack/23c46498/00000282.meta
.next/dev/cache/turbopack/23c46498/00000283.meta
.next/dev/cache/turbopack/23c46498/00000287.sst
.next/dev/cache/turbopack/23c46498/00000302.meta
.next/dev/cache/turbopack/23c46498/00000308.sst
.next/dev/cache/turbopack/23c46498/00000309.meta
.next/dev/cache/turbopack/23c46498/00000312.sst
.next/dev/cache/turbopack/23c46498/00000315.meta
.next/dev/cache/turbopack/23c46498/00000316.meta
.next/dev/cache/turbopack/23c46498/00000318.sst
.next/dev/cache/turbopack/23c46498/00000320.sst
.next/dev/cache/turbopack/23c46498/00000322.meta
.next/dev/cache/turbopack/23c46498/CURRENT
.next/dev/cache/turbopack/23c46498/LOG
.next/dev/logs/next-development.log
.next/dev/server/app-paths-manifest.json
.next/dev/server/server-reference-manifest.js
.next/dev/server/server-reference-manifest.json
.next/dev/server/app/page_client-reference-manifest.js
.next/dev/server/app/page.js
.next/dev/server/app/_not-found/page_client-reference-manifest.js
.next/dev/server/app/_not-found/page.js
.next/dev/server/app/bmi/page_client-reference-manifest.js
.next/dev/server/app/bmi/page.js
.next/dev/server/app/bmi/page.js.map
.next/dev/server/app/bmi/page/app-paths-manifest.json
.next/dev/server/app/bmi/page/build-manifest.json
.next/dev/server/app/bmi/page/next-font-manifest.json
.next/dev/server/app/bmi/page/react-loadable-manifest.json
.next/dev/server/app/bmi/page/server-reference-manifest.json
.next/dev/server/app/countdown/page_client-reference-manifest.js
.next/dev/server/app/countdown/page.js
.next/dev/server/app/countdown/page.js.map
.next/dev/server/app/countdown/page/app-paths-manifest.json
.next/dev/server/app/countdown/page/build-manifest.json
.next/dev/server/app/countdown/page/next-font-manifest.json
.next/dev/server/app/countdown/page/react-loadable-manifest.json
.next/dev/server/app/countdown/page/server-reference-manifest.json
.next/dev/server/app/days/page_client-reference-manifest.js
.next/dev/server/app/days/page.js
.next/dev/server/app/days/page.js.map
.next/dev/server/app/days/page/app-paths-manifest.json
.next/dev/server/app/days/page/build-manifest.json
.next/dev/server/app/days/page/next-font-manifest.json
.next/dev/server/app/days/page/react-loadable-manifest.json
.next/dev/server/app/days/page/server-reference-manifest.json
.next/dev/server/app/stopwatch/page_client-reference-manifest.js
.next/dev/server/app/stopwatch/page.js
.next/dev/server/app/stopwatch/page.js.map
.next/dev/server/app/stopwatch/page/app-paths-manifest.json
.next/dev/server/app/stopwatch/page/build-manifest.json
.next/dev/server/app/stopwatch/page/next-font-manifest.json
.next/dev/server/app/stopwatch/page/react-loadable-manifest.json
.next/dev/server/app/stopwatch/page/server-reference-manifest.json
.next/dev/server/chunks/ssr/_5bbc8e4d._.js
.next/dev/server/chunks/ssr/_5bbc8e4d._.js.map
.next/dev/server/chunks/ssr/_5d07fb37._.js
.next/dev/server/chunks/ssr/_5d07fb37._.js.map
.next/dev/server/chunks/ssr/_615c1217._.js
.next/dev/server/chunks/ssr/_615c1217._.js.map
.next/dev/server/chunks/ssr/_169910d3._.js
.next/dev/server/chunks/ssr/_169910d3._.js.map
.next/dev/server/chunks/ssr/_next-internal_server_app_bmi_page_actions_f02b4e3a.js
.next/dev/server/chunks/ssr/_next-internal_server_app_bmi_page_actions_f02b4e3a.js.map
.next/dev/server/chunks/ssr/_next-internal_server_app_countdown_page_actions_e0a7fe99.js
.next/dev/server/chunks/ssr/_next-internal_server_app_countdown_page_actions_e0a7fe99.js.map
.next/dev/server/chunks/ssr/_next-internal_server_app_days_page_actions_dbcea4e7.js
.next/dev/server/chunks/ssr/_next-internal_server_app_days_page_actions_dbcea4e7.js.map
.next/dev/server/chunks/ssr/_next-internal_server_app_stopwatch_page_actions_31d01a62.js
.next/dev/server/chunks/ssr/_next-internal_server_app_stopwatch_page_actions_31d01a62.js.map
.next/dev/server/chunks/ssr/\[root-of-the-server]__6f380a7c._.js
.next/dev/server/chunks/ssr/\[root-of-the-server]__6f380a7c._.js.map
.next/dev/server/chunks/ssr/\[root-of-the-server]__18d22784._.js
.next/dev/server/chunks/ssr/\[root-of-the-server]__18d22784._.js.map
.next/dev/server/chunks/ssr/\[root-of-the-server]__806b75f4._.js
.next/dev/server/chunks/ssr/\[root-of-the-server]__806b75f4._.js.map
.next/dev/server/chunks/ssr/\[root-of-the-server]__2001f5ef._.js
.next/dev/server/chunks/ssr/\[root-of-the-server]__2001f5ef._.js.map
.next/dev/server/chunks/ssr/\[root-of-the-server]__43105e19._.js
.next/dev/server/chunks/ssr/\[root-of-the-server]__43105e19._.js.map
.next/dev/server/chunks/ssr/\[root-of-the-server]__c00258c2._.js
.next/dev/server/chunks/ssr/\[root-of-the-server]__c00258c2._.js.map
.next/dev/server/chunks/ssr/\[root-of-the-server]__e36184e2._.js
.next/dev/server/chunks/ssr/\[root-of-the-server]__e36184e2._.js.map
.next/dev/server/chunks/ssr/app_b9b1292a._.js
.next/dev/server/chunks/ssr/app_b9b1292a._.js.map
.next/dev/server/chunks/ssr/node_modules_next_dist_2e66a41a._.js
.next/dev/server/chunks/ssr/node_modules_next_dist_2e66a41a._.js.map
.next/dev/server/chunks/ssr/node_modules_next_dist_a4b2d58b._.js
.next/dev/server/chunks/ssr/node_modules_next_dist_a4b2d58b._.js.map
.next/dev/server/chunks/ssr/node_modules_next_dist_f2c68735._.js
.next/dev/server/chunks/ssr/node_modules_next_dist_f2c68735._.js.map
.next/dev/server/chunks/ssr/node_modules_next_dist_f5ed937f._.js
.next/dev/server/chunks/ssr/node_modules_next_dist_f5ed937f._.js.map
.next/dev/server/chunks/ssr/node_modules_next_dist_f7bd568e._.js
.next/dev/server/chunks/ssr/node_modules_next_dist_f7bd568e._.js.map
.next/dev/static/chunks/_5fa2969b._.js
.next/dev/static/chunks/_5fa2969b._.js.map
.next/dev/static/chunks/_7c6b8706._.js
.next/dev/static/chunks/_7c6b8706._.js.map
.next/dev/static/chunks/_584d7a7c._.js
.next/dev/static/chunks/_584d7a7c._.js.map
.next/dev/static/chunks/app_globals_71f961d1.css
.next/dev/static/chunks/app_globals_71f961d1.css.map
.next/dev/static/chunks/app_layout_tsx_1cf6b850._.js
